@import "../../../../styles.scss";
.cancel{
    min-height: 64px;
    min-width: 160px;
    background-color: $secondary-light;
    color: $secondary;
    font-family: "Montserrat-Light";
    font-weight: 600;
  }
  .cancel:hover {
    border-width: 1.5px;
    background-color: $pure-white;
    border-color: $secondary;
    color: $secondary;
  }
  .ok:hover {
    border-width: 1.5px;
    background-color: $pure-white;
    border-color: $primary;
    color: $primary;
  }
  .ok {
    min-height: 64px;
    min-width: 160px;
    background-color: $primary;
    color: $secondary-light;
    font-family: "Montserrat-Light";
    white-space: pre-wrap !important;
    font-weight: 600;
  }