<div class="flex flex-col gap-3 w-auto h-auto">
  <h1 mat-dialog-title class="textRegular">Confirm Action</h1>
  <mat-divider></mat-divider>
  <h2 class="text-2xl text-center pt-3">
    Your stored data will be lost. Do you wish to continue?
  </h2>
  <div mat-dialog-actions class="flex flex-row justify-end mb-1">
    <div>
      <app-button
        [previous]="true"
        [buttonTextOne]="'Cancel'"
        [buttonTextTwo]="'Ok'"
        (clickedOne)="close()"
        (clickedTwo)="proceed()"
      ></app-button>
    </div>
  </div>
</div>
