<mat-accordion>
  <mat-expansion-panel
    *ngFor="let section of filledSectionsArray; let i = index"
    [expanded]="step === i"
    (opened)="setStep(i)"
    hideToggle
  >
    <mat-expansion-panel-header>
      <mat-panel-title
        class="text-2xl text"
        [style.color]="step == i ? '#15a811' : '#000000'"
      >
        {{ section.name }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <app-summary
      [questionsWithSelectedOptions]="section.questions"
    ></app-summary>
    <mat-action-row
      class="flex flex-row flex-wrap gap-2 justify-end mr-5"
      *ngIf="filledSectionsArray.length !== 1"
    >
      <button
        (click)="prevStep()"
        class="text-lg py-2 px-4 rounded-lg previousButton"
      >
        Previous
      </button>
      <button
        (click)="nextStep()"
        class="text-lg py-2 px-4 rounded-lg nextButton"
      >
        Next
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>