<div class="summary space-y-5 sm:pl-5 sm:pr-5">
  <div
    *ngIf="isEmpty"
    class="w-full h-full flex justify-center text-2xl mt-14 textRegular"
  >
    <h1>You haven't answered any of the questions.</h1>
  </div>
  <div
    *ngIf="!isEmpty"
    class="w-full h-full flex flex-col justify-center items-center"
  >
    <div
      *ngIf="costSpinner"
      class="
        h-screen
        flex flex-col
        justify-center
        items-center
        w-screen
        spinner
      "
    >
      <div class="flex flex-col justify-center items-center">
        <div><mat-spinner></mat-spinner></div>
        <div class="pt-5 text-2xl"><h1>Loading....</h1></div>
      </div>
    </div>
    <div *ngIf="error" class="h-screen w-screen flex flex-col justify-center">
      <h1 class="text-4xl text-center">Error 500 : Internal Server Error</h1>
    </div>
    <div *ngIf="!error" class="flex flex-col items-center w-full h-full">
      <div class="w-11/12 h-full mt-5">
        <div
          *ngIf="!costDisplayer"
          class="flex flex-col justify-center items-center space-y-5"
        >
          <h1 class="text-4xl text-black text-center textRegular">
            Here's the estimate of your project
          </h1>
          <h1 class="text-3xl text-black text-center textRegular">
            ${{ minPrice }} - ${{ maxPrice }}
          </h1>
        </div>
        <div
          *ngIf="costDisplayer"
          class="flex flex-col flex-wrap justify-center items-center gap-5"
        >
          <h1 class="text-3xl text-black text-center textRegular">
            Please enter your Email to receive your estimate
          </h1>
          <form class="flex flex-col justify-center items-center">
            <div class="flex flex-row flex-wrap justify-center gap-3">
              <mat-form-field
                appearance="outline"
                class="flex flex-col min-h-16 text md:w-96 lg:w-96 sm:w-80"
              >
                <mat-label>Email</mat-label>
                <input
                  type="email"
                  matInput
                  [formControl]="emailFormControl"
                  [errorStateMatcher]="matcher"
                />
                <mat-error
                  *ngIf="
                    !emailFormControl.hasError('required') &&
                    emailFormControl.hasError('pattern')
                  "
                >
                  Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailFormControl.hasError('required')">
                  Email is required
                </mat-error>
              </mat-form-field>
              <app-button
                [canDisplay]="true"
                [buttonText]="'Submit'"
                [buttonClass]="'nextButton'"
                (clicked)="onSubmit()"
              ></app-button>
            </div>
          </form>
        </div>
      </div>
      <mat-accordion class="w-11/12 mt-5">
        <mat-expansion-panel
          *ngFor="let section of filledSectionsArray; let i = index"
          [expanded]="step === i"
          (opened)="setStep(i)"
          hideToggle
        >
          <mat-expansion-panel-header>
            <mat-panel-title
              class="text-2xl textRegular"
              [style.color]="step == i ? '#15a811' : '#000000'"
            >
              {{ section.name }}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-summary
            [questionsWithSelectedOptions]="section.questions"
          ></app-summary>
          <mat-action-row
            class="flex flex-row flex-wrap gap-2 justify-end mr-5"
            *ngIf="filledSectionsArray.length !== 1"
          >
            <div class="flex flex-row flex-wrap gap-5">
              <app-button
                [canDisplay]="true"
                [buttonText]="'Previous'"
                [buttonClass]="'previousButton'"
                (clicked)="prevStep()"
              ></app-button>
              <app-button
                [canDisplay]="true"
                [buttonText]="'Next'"
                [buttonClass]="'nextButton'"
                (clicked)="nextStep()"
              ></app-button>
            </div>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
