@import "../../../../styles/general-styles.scss";
:host ::ng-deep .mat-horizontal-stepper-header-container {
  display: none;
}

.text {
  font-family: "Montserrat-Regular", $defaultFont;
}
.addFont {
  font-family: "Montserrat-Light", $defaultFont;
}
