<div class="addFont">
  <div *ngIf="final">
    <div class="w-full h-full flex flex-col py-10">
      <div class="flex flex-row justify-center gap-2">
        <div
          *ngFor="let section of sections; let i = index"
          [ngClass]="{
            classChange: selectedIndex !== i && selectedIndex + 1 !== i,
            widthChange: selectedIndex === i || selectedIndex + 1 === i
          }"
        >
          <div class="relative mb-2">
            <div *ngIf="i == 0 ? false : true">
              <div
                class="
                  absolute
                  flex
                  align-center
                  items-center
                  align-middle
                  content-center
                  pr-2
                "
                [ngClass]="{
                  classChange: selectedIndex === i,
                  progressBarDisable: selectedIndex !== i - 1
                }"
                style="
                  width: calc(100% - 2.5rem - 1rem);
                  top: 50%;
                  transform: translate(-50%, -50%);
                "
              >
                <div
                  class="
                    w-full
                    bg-gray-200
                    rounded
                    items-center
                    align-middle align-center
                    flex-1
                  "
                >
                  <div
                    class="w-0 py-1 rounded addColor"
                    [style.width.%]="widthsArray[i - 1]"
                  ></div>
                </div>
              </div>
            </div>
            <div
              class="
                w-10
                h-10
                mx-auto
                bg-white
                rounded-full
                text-lg text-white
                flex
                items-center
              "
              [ngClass]="
                widthsArray[i] > 99 && sectionColoring[i] == true
                  ? 'contentTrue'
                  : i == selectedIndex
                  ? 'contentTrue'
                  : 'contentFalse'
              "
              #tooltip="matTooltip"
              [matTooltip]="selectedIndex !== i && selectedIndex + 1 !== i?section.stepLabel:''"
              [matTooltipPosition]="'below'"
              (click)="sectionChange(i)"
            >
              <span class="text-center w-full cursor-pointer">
                <mat-icon class="py-2">{{ section.icon }}</mat-icon>
              </span>
            </div>
          </div>
          <div class="text-xs text-center md:text-base" [ngClass]="{
            progressBarDisable: selectedIndex !== i && selectedIndex + 1 !== i
          }">
            {{ section.stepLabel }}
          </div>
        </div>
        <div
          [ngClass]="{
            classChange: selectedIndex !== length - 2,
            widthChange: selectedIndex === length - 2
          }"
        >
          <div class="relative mb-2">
            <div
              class="
                absolute
                flex
                align-center
                items-center
                align-middle
                content-center
              "
              [ngClass]="{
                progressBarDisable: selectedIndex !== length - 2
              }"
              style="
                width: calc(100% - 2.5rem - 1rem);
                top: 50%;
                transform: translate(-50%, -50%);
              "
            >
              <div
                class="
                  w-full
                  bg-gray-200
                  rounded
                  items-center
                  align-middle align-center
                  flex-1
                "
              >
                <div
                  class="w-0 py-1 rounded addColor"
                  [style.width.%]="widthsArray[length - 2]"
                ></div>
              </div>
            </div>
            <div
              class="
                w-10
                h-10
                mx-auto
                rounded-full
                text-lg text-white
                flex
                items-center
              "
              [ngClass]="
                widthsArray[length - 2] > 99 &&
                sectionColoring[length - 2] == false
                  ? 'isTrue'
                  : 'isFalse'
              "
            >
              <span class="text-center w-full cursor-pointer">
                <mat-icon class="py-2">check_circle_outline</mat-icon>
              </span>
            </div>
          </div>
          <div class="text-xs text-center md:text-base" [ngClass]="{
            progressBarDisable: selectedIndex !== length-2
          }">Finished</div>
        </div>
      </div>
    </div>
    <div class="py-10">
      <mat-stepper
        labelPosition="bottom"
        (selectionChange)="OnStep($event)"
        [selectedIndex]="selectedIndex"
        #stepper
      >
        <mat-step *ngFor="let section of sections; let i = index">
          <div
            *ngIf="!hide"
            class="flex flex-col flex-wrap justify-center items-center"
          >
            <mat-card
              class="
                flex flex-col flex-wrap
                sm:w-4/5
                md:w-3/5
                lg:w-2/5
                cardColoring
              "
            >
              <mat-card-title class="text-2xl titleText">{{
                section.name
              }}</mat-card-title>
              <mat-card-content>
                <p class="text-lg content">
                  {{ section.content }}
                </p>
              </mat-card-content>
              <mat-card-actions class="pl-2">
                <div class="flex flex-row flex-wrap md:space-x-2 lg:space-x-2">
                  <button
                    (click)="ToHide()"
                    class="text-lg py-2 px-4 rounded-lg nextButton"
                  >
                    {{ cardStringControl }}
                  </button>
                  <button
                    (click)="switchIt(stepper, true)"
                    class="text-lg py-2 px-4 rounded-lg SkipButton"
                  >
                    Skip {{ section.stepLabel }}
                  </button>
                </div>
              </mat-card-actions>
            </mat-card>
          </div>
          <div *ngIf="hide" class="flex flex-col space-y-5">
            <app-questionnaire
              [indexOfSectionFromParent]="i"
              (atSummary)="buttonToggler($event)"
              (adjustWidth)="adjustingWidth($event, i)"
            ></app-questionnaire>
          </div>
          <div
            class="
              flex flex-row flex-wrap
              justify-end
              w-11/12
              mt-5
              sm:mr-5
              md:mr-5
              lg:mr-10
            "
          >
            <button
              *ngIf="!nextDisabled"
              (click)="switchIt(stepper, false)"
              class="text-lg py-2 px-4 rounded-lg nextButton"
            >
              Next
            </button>
          </div>
        </mat-step>
      </mat-stepper>
    </div>
  </div>
  <div *ngIf="!final">
    <app-final-overview></app-final-overview>
  </div>
</div>
