@import "../../../../styles/general-styles.scss";
.fullPage {
  background-color: $pure-white;
  min-height: 100vh;
}
.banner {
  color: $secondary;
  font-weight: 600;
}
.heading {
  color: $pure-black;
  font-weight: 600;
}
.iconHome {
  font-size: 30px;
  background-color: $primary;
  color: $secondary-light;
}
