<div class="flex flex-col justify-center items-center space-y-8">
  <div [hidden]="summary">
    <app-question
      [currentQuestion]="currentQuestion"
      [questionToAppendAnswers]="currentQuestionWithoutOptions"
      [indexOfQuestion]="index"
      (ngModel)="(index)"
      (inNext)="nextIsClicked($event)"
      (inPrev)="prevIsClicked($event)"
    ></app-question>
  </div>
  <div [hidden]="!summary" class="w-4/5">
    <div class="flex flex-col justify-start">
      <p class="text-3xl subText text-center mt-5">
        Here's what you've answered
      </p>
      <div>
        <div>
          <h1 class="text-2xl text-left heading mt-5">
            {{ currentSection.name }}
          </h1>
        </div>
        <div class="w-full h-full">
          <app-summary
            [questionsWithSelectedOptions]="currentSectionWithoutOptions.questions"
          ></app-summary>
        </div>
      </div>
    </div>
  </div>
</div>
