@import "../../../../styles/general-styles.scss";

.subText {
  color: $pure-black;
  font-family: "Montserrat-Regular", $defaultFont;
}
.heading {
  color: $primary;
  font-family: "Montserrat-Regular", $defaultFont;
}
