@import "../../../../styles/general-styles.scss";
.cardColoring {
  background-color: $secondary-light;
}
.titleText {
  color: $pure-black;
  font-family: "Montserrat-Regular", $defaultFont;
}
.content {
  color: $pure-black;
  font-family: "Montserrat-Light", $defaultFont;
}
