<div class="fullPage">
  <div class="banner flex justify-center m-3">
    <diV class="text-center">
      <h1 class="heading Montserrat-Regular text-4xl pt-10 md:pt-14 lg:pt-16">
        Want to know the cost of your product?
      </h1>
      <p class="pt-10 text-2xl">
        Want to know how much implementing a quality digital application would
        cost?
      </p>
      <p class="text-2xl">
        This application would help you calculate the total cost of implementing
        the solution.
      </p>
      <p class="text-2xl">Well, you are at the right place.</p>
      <div class="flex flex-row justify-center mt-3">
        <button
          class="getStarted font-bold py-2 px-4 rounded-lg mt-5 text-lg"
          routerLink="/general-qs"
        >
          Get started
        </button>
      </div>
    </diV>
  </div>
  <div class="flex flex-col m-3">
    <div class="flex flex-row justify-center m-5 mt-10">
      <div>
        <i class="material-icons pt-5 pb-5 pl-8 pr-8 rounded-lg" id="btnHome"
          >online_prediction</i
        >
      </div>
      <div class="pl-8 flex-initial">
        <h1 class="heading Montserrat-Regular text-2xl"><b>Strategy</b></h1>
        <p class="banner pt-5 max-w-2xl text-xl">
          It all begins with narrowing down your strategy. A thought-out
          strategy is the solid base of your digital project. It’s an important
          part of your digital transformation, if not, the most important part.
          When defining your strategy, we try to find an answer to questions
          such as: “who is your target audience, what is the message, which
          channels do we need, how is this going to fit the market, and at what
          cost?”.
        </p>
      </div>
    </div>
    <div class="flex flex-row justify-center m-5">
      <div>
        <i class="material-icons pt-5 pb-5 pl-8 pr-8 rounded-lg" id="btnHome"
          >code</i
        >
      </div>
      <div class="pl-8 flex-initial">
        <h1 class="heading Montserrat-Regular text-2xl"><b>UX/UI</b></h1>
        <p class="banner pt-5 max-w-2xl text-xl">
          Of course, you want your digital product to look good and make it as
          easy as possible to use. Through a thorough analysis of your and your
          users’ needs, our designers can create the most sharp-looking digital
          product with the most intelligent user experience.
        </p>
      </div>
    </div>
    <div class="flex flex-row justify-center m-5">
      <div>
        <i class="material-icons pt-5 pb-5 pl-8 pr-8 rounded-lg" id="btnHome"
          >api</i
        >
      </div>
      <div class="pl-8 flex-initial">
        <h1 class="heading Montserrat-Regular text-2xl"><b>Development</b></h1>
        <p class="banner pt-5 max-w-2xl text-xl">
          We’re at the core of our services, the development process. The
          following questions will measure your needs in terms of product type,
          desired features, implementations, … Due to our broad technology stack
          and our excellent team of front- and backend experts we can develop
          any custom software or digital product. So don’t hold back!
        </p>
      </div>
    </div>
    <div class="flex flex-row justify-center m-5">
      <div>
        <i class="material-icons pt-5 pb-5 pl-8 pr-8 rounded-lg" id="btnHome"
          >production_quantity_limits</i
        >
      </div>
      <div class="pl-8 flex-initial">
        <h1 class="heading Montserrat-Regular text-2xl">
          <b>Product Growth</b>
        </h1>
        <p class="banner pt-5 max-w-2xl text-xl">
          Once your product is developed, it’s ready to be launched. Will you be
          doing this yourself or do you need some support in your “go to market”
          strategy? Other than that, we can take care of your product by just
          fixing bugs or we can help you ensure your product’s growth by
          analyzing your users’ needs and making the right changes. Let’s find
          out how close we’ll be partnering.
        </p>
      </div>
    </div>
  </div>
</div>
